@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --breakpoint-mm: 850px;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: var(--radius);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.2264 0 0);
    --card: oklch(0.9761 0 0);
    --card-foreground: oklch(0.2264 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2264 0 0);
    --primary: oklch(0.5325 0.1679 262.293);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9581 0 0);
    --secondary-foreground: oklch(0.2264 0 0);
    --muted: oklch(0.9761 0 0);
    --muted-foreground: oklch(0.5348 0 0);
    --accent: oklch(0.9581 0 0);
    --accent-foreground: oklch(0.2264 0 0);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9401 0 0);
    --input: oklch(0.9761 0 0);
    --ring: oklch(0.8576 0 0);
    --chart-1: oklch(0.5348 0 0);
    --chart-2: oklch(0.7348 0 0);
    --chart-3: oklch(0.8359 0 0);
    --chart-4: oklch(0.9401 0 0);
    --chart-5: oklch(0.9761 0 0);
    --sidebar: oklch(0.9761 0 0);
    --sidebar-foreground: oklch(0.2264 0 0);
    --sidebar-primary: oklch(0.5325 0.1679 262.293);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.937 0 0);
    --sidebar-accent-foreground: oklch(0.2264 0 0);
    --sidebar-border: oklch(0.9401 0 0);
    --sidebar-ring: oklch(0.8576 0 0);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 10px;
    --shadow-spread: -3px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 10px -3px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0 1px 10px -3px hsl(0 0% 0% / 0.03);
    --shadow-sm:
        0 1px 10px -3px hsl(0 0% 0% / 0.05), 0 1px 2px -4px hsl(0 0% 0% / 0.05);
    --shadow:
        0 1px 10px -3px hsl(0 0% 0% / 0.05), 0 1px 2px -4px hsl(0 0% 0% / 0.05);
    --shadow-md:
        0 1px 10px -3px hsl(0 0% 0% / 0.05), 0 2px 4px -4px hsl(0 0% 0% / 0.05);
    --shadow-lg:
        0 1px 10px -3px hsl(0 0% 0% / 0.05), 0 4px 6px -4px hsl(0 0% 0% / 0.05);
    --shadow-xl:
        0 1px 10px -3px hsl(0 0% 0% / 0.05), 0 8px 10px -4px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0 1px 10px -3px hsl(0 0% 0% / 0.13);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.2134 0 0);
    --foreground: oklch(0.9523 0.0029 84.5592);
    --card: oklch(0.2645 0 0);
    --card-foreground: oklch(0.9523 0.0029 84.5592);
    --popover: oklch(0.2134 0 0);
    --popover-foreground: oklch(0.7364 0.0097 78.2671);
    --primary: oklch(0.6041 0.1615 252.3326);
    --primary-foreground: oklch(0.9523 0.0029 84.5592);
    --secondary: oklch(0.4091 0 0);
    --secondary-foreground: oklch(0.9523 0.0029 84.5592);
    --muted: oklch(0.329 0 0);
    --muted-foreground: oklch(0.7348 0 0);
    --accent: oklch(0.2645 0 0);
    --accent-foreground: oklch(0.9523 0.0029 84.5592);
    --destructive: oklch(0.661 0.1631 27.6893);
    --destructive-foreground: oklch(0.9523 0.0029 84.5592);
    --border: oklch(0.3052 0 0);
    --input: oklch(0.3052 0 0);
    --ring: oklch(0.6041 0.1615 252.3326);
    --chart-1: oklch(0.9401 0 0);
    --chart-2: oklch(0.8359 0 0);
    --chart-3: oklch(0.7348 0 0);
    --chart-4: oklch(0.5348 0 0);
    --chart-5: oklch(0.3485 0 0);
    --sidebar: oklch(0.2435 0 0);
    --sidebar-foreground: oklch(0.9523 0.0029 84.5592);
    --sidebar-primary: oklch(0.6041 0.1615 252.3326);
    --sidebar-primary-foreground: oklch(0.9523 0.0029 84.5592);
    --sidebar-accent: oklch(0.4091 0 0);
    --sidebar-accent-foreground: oklch(0.9401 0 0);
    --sidebar-border: oklch(0.4091 0 0);
    --sidebar-ring: oklch(0.5348 0 0);
    --font-sans: "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --font-mono: "Fira Code", monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 10px;
    --shadow-spread: -3px;
    --shadow-opacity: 0.2;
    --shadow-color: #000000;
    --shadow-2xs: 0 1px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-xs: 0 1px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-sm:
        0 1px 10px -3px hsl(0 0% 0% / 0.2), 0 1px 2px -4px hsl(0 0% 0% / 0.2);
    --shadow:
        0 1px 10px -3px hsl(0 0% 0% / 0.2), 0 1px 2px -4px hsl(0 0% 0% / 0.2);
    --shadow-md:
        0 1px 10px -3px hsl(0 0% 0% / 0.2), 0 2px 4px -4px hsl(0 0% 0% / 0.2);
    --shadow-lg:
        0 1px 10px -3px hsl(0 0% 0% / 0.2), 0 4px 6px -4px hsl(0 0% 0% / 0.2);
    --shadow-xl:
        0 1px 10px -3px hsl(0 0% 0% / 0.2), 0 8px 10px -4px hsl(0 0% 0% / 0.2);
    --shadow-2xl: 0 1px 10px -3px hsl(0 0% 0% / 0.5);
}

body {
    letter-spacing: var(--tracking-normal);
}

.w-md-editor-toolbar,
.w-md-editor-content {
    background-color: var(--card) !important;
}

body {
    overflow-x: hidden;
}

* {
    user-select: none;
    outline: none;
}
p img {
    width: 100%;
    border-radius: 5px;
}
img {
    -webkit-user-drag: none;
}

:root {
    color-scheme: dark;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
#controller-icons {
    display: none;
}

#controller-container:hover #controller-icons {
    display: flex;
}
